body{
    text-align: center;
    background: radial-gradient(red,white)
}
div{
    
    
    height: 250px;
    border: 5px solid black;width: 300px;
    margin:200px;
    background-color: rgb(231,255,255);

}
